body {
  /*margin-top: 70px;*/
  /*position: fixed;*/
  /*margin-top:6%;*/
  background-color: #0A060D;
  padding: 0;
  /*margin: 0;*/
  /*color: #cd8c95;*/
}

label {
  color: #FFF;
}

.txtbox {
  font-size: 12pt;
}

h1.alignBtm {
  line-height: 6em;
}

h1.alignBtm span {
  line-height: 3.2em;
  vertical-align: bottom;
}

h4{
  color: #A2A1AD;
  font-size: 20pt;
}

h3{
    color: #A2A1AD;
    font-size: 16pt;
    margin-left: 6px;
}

.modal-header h4{
  color: #333;
}

.modal {
  height: 85%;
}

/*
.modal, .modal-dialog, .modal-content{
  height: 80%;*/
  /*text-align:center;*/
/*
}
*/

/*
.modal-header, .modal-footer {height:10%;}
*/
/*.modal-body {height:100%;}*/
/*
.modal {height:70%;}
.modal-dialog {height:70%;}
.modal-content {height:70%;}
.img-responsive {
    max-height:90%;
}
*/

/*.modal-body {max-height:70%;}*/
/*.modal {height:70%;}*/


.modal-dialog {
    /*display: inline-block;*/
    /*height:40%;*/
    width:30%;
}



.div-resume {
  height: 32px;
}

.div-resume {
  text-align: center;
  padding-top: 6px;
  margin-top: 0;
  margin-bottom: 0;
  color: #A2A1AD;
}

.div-resume spam{
  font-weight: 700;
}
/*INCON INSIDE INPUT*/
/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style glyph */

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}


/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.rouded-border {
  border-radius: 15px;
}


/* custom navbar for sopa */

.navbar-default {
  background-color: #0A060D;
  background-image: none;
  border: none;
  font-size: 180%;
  /*bottom:0px;*/
}

.navbar-default .navbar-brand {
  color: #ee6c10;
  font-size: 140%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #ee6c10;
}

.navbar-default .navbar-nav>li>a {
  color: #ee6c10;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
  background-color: #0A060D;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
  color: #ee6c10;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #ffffff;
  background-color: #2f2e2f;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
  background-color: #2f2e2f;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #ffffff;
  background-color: #2f2e2f;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #2f2e2f;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #ffffff;
  background-color: #2f2e2f;
}

.navbar-default .navbar-toggle {
  border-color: #2f2e2f;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2f2e2f;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ee6c10;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ee6c10;
}

.navbar-default .navbar-link {
  color: #ee6c10;
}

.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ee6c10;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ffffff;
    background-color: #2f2e2f;
  }
}


/* table and background styles*/

.content {
  border-top: 3px solid #ee6c10;
  border-bottom: 3px solid #ee6c10;
  color: #D3D0CC;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border: none;
}

.table > tbody > tr > td,
.table thead th {
  cursor: pointer;
}

.table-hover tbody tr:hover {
  background-color: #FFF;
  color: #000;
  text-decoration: none;
  font-size: 22px;
}

.table {
  color: #000;
  background-color: #E0E0E0;
  /*border: 3px solid #ee6c10;*/
  margin-top: 10px;
  font-size: 18px;
}

.table-responsive {
  border: none;
}

.rowSelected{
  background-color: #ffffff;
  color: #000;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
}

/*table with head fixed and vertical scroll*/
tbody {
    display:block;
    height:320px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

/*custom button for sopa*/
.btn-function {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 34px;
}

.btn-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea7d2a+3,aa2b14+38,8e2a00+64,7f1f02+100 */
  background: rgb(234, 125, 42);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(234, 125, 42, 1) 3%, rgba(170, 43, 20, 1) 38%, rgba(142, 42, 0, 1) 64%, rgba(127, 31, 2, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234, 125, 42, 1) 3%, rgba(170, 43, 20, 1) 38%, rgba(142, 42, 0, 1) 64%, rgba(127, 31, 2, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234, 125, 42, 1) 3%, rgba(170, 43, 20, 1) 38%, rgba(142, 42, 0, 1) 64%, rgba(127, 31, 2, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7d2a', endColorstr='#7f1f02', GradientType=0);
  /* IE6-9 */
  color: #D3D0CC;
}

.btn-color>a:focus,
a:hover {
  /*color: #D3D0CC;*/
  text-decoration: none;
}


/*https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
