body {
    /* background-color: lightblue; */
    background-image: url("/public/assets/img/welcome.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 250px;
  background-color:rgba(3%, 3%, 3%, 0.674);
  margin: 0 auto;
  border: 4px solid rgb(51.4%, 51%, 51%, 0.674);
  border-radius: 15px;
  /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=text], input[type=password] {
  color: #fff;
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  -webkit-appearance: none;
  background-color:rgba(3%, 3%, 3%, 0.0);
  border: none;
  border-bottom: 2px solid #c6c6c6;  
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:focus, input[type=password]:focus {
  border: node;
  border-bottom: 2px solid #5c5b5b;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  transition: border 0.3s;
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-container input[type=submit] {
  width: 50%;
  height: 50%;
  text-align: center;
  display: block;
  position:relative;
  margin: 30px auto 0 auto;
  font-size: 115%;
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #949699;
  padding: 10px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #7f8286;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

h1{
  text-align: center;
  font-size: 350%;
  color: #E5E5E5;
  font-family: 'Times New Roman', Times, serif;
}