.background-image {
  background-image: url("/assets/img/sales_background.png");
  background-color: #08030A;
}

.margin-top {
  margin-top: 10px;
  display: block;
}

.productSelected {
  background-color: #ee6c10;
  color: #000;
}

table {
  border-radius: 20px;
}