<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login kokteLa</title>
    <link rel="stylesheet" href="../css/login.css" />
</head>
<body>
    <div class="loginmodal-container">
        <form name="form-login" method="POST">
            <input type="text" id="user" name="username" placeholder="Usuario">
            <input type="password" id="pass" name="password" placeholder="Contraseña">
            <input type="submit" value="Ingresar" class="login loginmodal-submit">
        </form>
        <!--<div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
        </div>-->
    </div>
    <!--<div id="back">
        <form action="/" name="form=welcome" method="GET">
            <span class="fontawsomeuser"></span>
            <input type="submit" value="Regresar">
        </form>
    </div>-->
</body>

</html>
