<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order_Request</title>
</head>

<body>
<div class="wrapper">

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>order_request</legend>

<div class="bottom">

  <div class="form-group" style="float: left; width: 33%;">
    <input list="browsers" name="browser" placeholder="idCuenta">
    <datalist id="browsers">
      <option value="Internet Explorer">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist>
    <!-- <input type="submit">   -->
  </div>
   
  <!-- Text input-->
  <div class="form-group" style="float: left; width: 33%;">
    <label class="col-md-4 control-label" for="textinput">Fecha Registro: </label>  
    <div class="col-md-4">
    <output id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group" style="float: left; width: 33%;">
    <label class="col-md-4 control-label" for="textinput">idEmpleado: </label>  
    <div class="col-md-4">
    <output id="textinput" name="textinput" type="text"  class="form-control input-md">
    </div>
  </div>

</div>


<div class="bottom">

  <!-- Text input-->
  <div class="form-group" style="float: left; width: 25%;" >
    <label class="col-md-4 control-label" for="textinput">idOrden: </label>  
    <div class="col-md-4"> 
    <output id="textinput" name="textinput" type="text" class="form-control input-md">
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group" style="float: left; width: 25%;" >
    <input list="browsers" name="browser" placeholder="Producto">
    <datalist id="browsers">
      <option value="Internet Explorer">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist>
  </div>

  <!-- Select Basic -->
  <div class="form-group" style="float: left; width: 25%;" >
    <input type="number" placeholder="Cantidad"></input>
  </div>

  <!-- Text input-->
  <div class="form-group" style="float: left; width: 25%;">
    <label class="col-md-4 control-label" for="textinput">Precio</label>  
    <div class="col-md-4">
    <output id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
    </div>
  </div>

</div>

<div class="bottom">
	<div class="form-group" style="float: left; width: 50%;" >
		<input type="submit">Aceptar</input>
	</div>
	<div class="form-group" style="float: left; width: 50%;" >
		<input type="submit">Cancelar</input>
	</div>
</div>

</fieldset>
</form>

<!-- TESTTING ONLINE: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_output -->

</div>
</body>
</html>
