<!DOCTYPE html>
<head>
  <style type="text/css">
    .facturaSelected{
       background-color: #F0F8FF;
    }
    #modalListaFacturas{
      width: 60% !important;
    }

    #consecutivo_nota_credito{
        resize: none
    }
    #select_descuento{
      width: 60%;
      border-radius: 4px;
    }

    .cantidadproducto, .cantidadproducto2 ,#descuentoorden{
      width: 60%;
      border-radius: 4px;
    }

    #descuentoorden{
      background-color: silver;

    }
    #txtFormaPagoNotaCredito{
      color: black;
    }


  </style>
</head>

<!-- 3926 -->
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div ng-include="'/shared/search.html'"></div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-5">
        <div class="pull-right">
          <div class="form-group">
          <div class="btn-group mr-1 col-md-3 pull-right">
             <button type="submit" class="btn btn-warning" ng-click="llamarFuncion('NC',3);">Notas crédito</button>
          </div>
          <div class="btn-group mr-1 col-md-3 pull-right">
            <button type="submit" class="btn btn-warning" ng-click="llamarFuncion('ND',4);">Notas débito</button>
          </div>
          <div class="btn-group mr-1 col-md-3 pull-right">
            <button type="submit" class="btn btn-warning" ng-click="llamarFuncion('FE',1);">Facturas</button>
          </div>
          <div class="btn-group mr-1 col-md-3 pull-right">
            <button type="submit" class="btn btn-warning" ng-click="llamarFuncion('TE',2);">Tiquetes</button>
          </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="row content background-image">
      <div class="col-md-15 col-lg-9">
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead class="tableHeaders">
              <tr>
                <th class="col-sm-1 small" ng-click="sort('idfactura')">ID
                  <input type="hidden" name="tipo_nota" id="tipo_nota" ng-model="tipo_nota">
                  <span ng-show="sortKey=='idfactura'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
                <th class="col-md-2" ng-click="sort('fecha_date')">Fecha
                  <span ng-show="sortKey=='subtotal'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
                <th class="col-md-1" ng-click="sort('status')">Status
                  <span ng-show="sortKey=='fecha_date'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
                <th class="col-md-1" ng-click="sort('empleado')">Empleado
                  <span ng-show="sortKey=='fecha_date'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
               
                </th>
                 <th class="col-md-2" ng-click="sort('subtotal')">Subtotal
                  <span ng-show="sortKey=='fecha_date'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
                 <th class="col-md-2" ng-click="sort('receptor_numero')">#Cliente
                  <span ng-show="sortKey=='fecha_date'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
                 <th class="col-md-2" ng-click="sort('nombre')">Cliente
                  <span ng-show="sortKey=='fecha_date'" ng-class="{'fa fa-caret-down':reverse,'fa fa-caret-up':!reverse}"></span>
                </th>
                
                <th class="col-md-1">Vista</th>
              </tr>
            </thead>
            <tbody id="accountsCanceledTable">
              <tr ng-class="{'facturaSelected':com.checked == true}" ng-repeat="com in object | orderBy:sortKey:reverse | filter:search">
                <td class="col-sm-1 nr">{{com.idfactura}}</td>
                <td class="col-sm-2">{{com.fecha_date | date:'dd/MMM/yy HH:mm:ss':'-0600'}} </td>
                <td class="col-sm-1">{{com.status}}</td>
                <td class="col-sm-1">{{com.empleado}}</td>
                <td class="col-sm-2">{{com.subtotal | currency:"₡"}}</td>
                <td class="col-sm-2">{{com.receptor_numero}}</td>
                <td class="col-sm-2">{{com.nombre}}</td>
                <td class="col-sm-1"><button type="button" class="btn btn-warning" ng-click="loadDataComprobante(com)">
                <span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
              </tr>
            </tbody>
          </table>

            <div class="btn-group mr-1 col-md-3 pull-left">
              <button class="btn btn-home"><a href="#!/restaurante">Ventas</a><span class="glyphicon glyphicon-home"></span></button>
            </div>
        </div>
   
      </div>
    </div>
  </div>
</div>


<div id="nota-comprobantes-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm" role="document" id="modalListaFacturas">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title" id="titulo_comprobante"><strong>Nota de crédito</strong></h4></center>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" >
            <p ><b> Factura:</b> {{idComprobante}} <b> Cuenta:</b> {{cuenta}}
            <p ><b> Fecha Factura:</b> {{fechaEmisionComprobante}}</p>
            <b > Clave numérica: </b>{{claveComprobante}}</p>
            <p><b> Empleado:</b> {{empleado}}</p>
            <!--<div class="form-group">-->
            <table id="nota-credito">
              <thead class="tableHeaders">
                <tr>
                <th>
                    <p><b>Descuento &nbsp; </b></p>
                  </th>                
                  <th>
                    <p><b>Cantidad &nbsp; </b></p>
                  </th>
                  <th>
                    <p><b>Producto &nbsp; </b></p>
                  </th>
                  <th>
                    <p><b>Precio &nbsp;</b></p>
                  </th>
                  <th>
                    <p><b>SubTotal &nbsp;</b></p>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="orden in arrayOrdenesComprobantes track by $index" id="linea">
                 <td id="descuentolinea">
                 <p><b> &nbsp; </b> {{orden.descuentoorden}} &nbsp; &nbsp;</p>
                    
                 </td>
                  <td id="cantidad">
                  <p><b> &nbsp; </b> {{orden.cantidadproducto}} &nbsp; &nbsp;</p>
                  </td>
                  <td >
                    <p><b> &nbsp; </b> {{orden.descripcionproducto}} &nbsp; &nbsp;</p>
                  </td>
                  <td >
                    <p><b> &nbsp; </b> {{orden.preciounitarioproducto}} &nbsp; &nbsp;</p>
                  </td>
                  <td>
                    <p id="subtotal_orden_nota_credito"><b> &nbsp; </b> {{orden.subtotal | currency:"₡"}} &nbsp; &nbsp;</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--</div>-->
  <!--          <div align="right"> -->
           
             <div style="border: 2px solid #eaeaea; padding: 5px; border-radius: 4px;">
                <b> Forma Pago: {{formapago}} </b> 
              
            <p><b> Periodo Venta:</b> {{periodoComprobante}}</p>
            <p id="subtotal_nota_credito"><b> Sub Total:</b> {{subtotalComprobante | currency:"₡"}}</p>
            <p ><b> Descuento:</b> {{porcentajeDescuentoComprobante}}%</p>
            <p ><b> Monto Descuento:</b> {{descuentoComprobante | currency:"₡"}}</p>
            <p ><b> Total:</b> {{ ventaTotalComprobante | currency:"₡"}}</p>
            <p><b> Por Persona:</b> {{porpersona | currency:"₡"}}</p>
            <p><b> Cantidad Personas:</b> {{cantidadpersonas}}</p>
            </div>
  <!--          </div> -->
          </div>
        </form>
         <div class="form-group" style="border: 2px solid #eaeaea; padding: 5px; border-radius: 4px;">
         <br>
      <select  class="form-control" id="cmb_referencia" ng-model="factura.referencia_nota_credito" required ng-options='item as item.descripcion for item in referencia track by item.id' >
            <option value="" disabled><strong>Referencia</strong></option>
      </select>
              <br>
                <p ng-model="factura_nc.consecutivo"><strong># Consecutivo:</strong> {{consecutivoComprobante}}</p>
              <br>
                <p><strong>Razón:</strong> 
              <br>
            <textarea id="razon_nota" cols="50" rows="3" class="form-control" ng-model="razon_nota" readonly></textarea></p>
              <br>        
                     <p ng-model="factura_nc.consecutivo"><strong>Estado comprobante:</strong> <strong>{{estado}}</strong></p>
              <br>     
      </div>
                  <!-- id="consecutivo_nota_credito" -->
      </div>
      <div class="modal-footer">
        <div>
          <center>
            <button id="btnActualizar" type="reset" class="btn btn-primary" data-dismiss="modal" ng-click="cacularDatosNota(ordersElementsModal,1)"> Aplicar Nota</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comprobantes-referencia" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm" role="document" id="modalListaFacturas">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title" id="titulo"><strong>Nota de crédito</strong></h4></center>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" >
            <p ><b> Factura:</b> {{idComprobante}} <b> Cuenta:</b> {{cuenta}}
            <p ><b> Fecha Factura:</b> {{fechaEmisionComprobante}}</p>
            <b > Clave numérica: </b>{{claveComprobante}}</p>
            <p><b> Empleado:</b> {{empleado}}</p>
            <!--<div class="form-group">-->
            <table id="nota-credito">
              <thead class="tableHeaders">
                <tr>
                <th>
                    <p><b>Descuento &nbsp; </b></p>
                  </th>                
                  <th>
                    <p><b>Cantidad &nbsp; </b></p>
                  </th>
                  <th>
                    <p><b>Producto &nbsp; </b></p>
                  </th>
                  <th>
                    <p><b>Precio &nbsp;</b></p>
                  </th>
                  <th>
                    <p><b>SubTotal &nbsp;</b></p>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="orden in arrayOrdenesComprobantes track by $index" id="linea">
                 <td id="descuentolinea">
                 <p><b> &nbsp; </b> {{orden.descuentoorden}} &nbsp; &nbsp;</p>
                    
                 </td>
                  <td id="cantidad">
                  <p><b> &nbsp; </b> {{orden.cantidadproducto}} &nbsp; &nbsp;</p>
                  </td>
                  <td >
                    <p><b> &nbsp; </b> {{orden.descripcionproducto}} &nbsp; &nbsp;</p>
                  </td>
                  <td >
                    <p><b> &nbsp; </b> {{orden.preciounitarioproducto}} &nbsp; &nbsp;</p>
                  </td>
                  <td>
                    <p id="subtotal_orden_nota_credito"><b> &nbsp; </b> {{orden.subtotal | currency:"₡"}} &nbsp; &nbsp;</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--</div>-->
  <!--          <div align="right"> -->
           
             <div style="border: 2px solid #eaeaea; padding: 5px; border-radius: 4px;">
                <b> Forma Pago: {{formapago}} </b> 
              
            <p><b> Periodo Venta:</b> {{periodoComprobante}}</p>
            <p id="subtotal_nota_credito"><b> Sub Total:</b> {{subtotalComprobante | currency:"₡"}}</p>
            <p ><b> Descuento:</b> {{porcentajeDescuentoComprobante}}%</p>
            <p ><b> Monto Descuento:</b> {{descuentoComprobante | currency:"₡"}}</p>
            <p ><b> Total:</b> {{ ventaTotalComprobante | currency:"₡"}}</p>
            <p><b> Por Persona:</b> {{porpersona | currency:"₡"}}</p>
            <p><b> Cantidad Personas:</b> {{cantidadpersonas}}</p>
            </div>
  <!--          </div> -->
          </div>
        </form>
         <div class="form-group" style="border: 2px solid #eaeaea; padding: 5px; border-radius: 4px;">
              <br>
                <p ng-model="factura_nc.consecutivo"><strong># Consecutivo:</strong> {{consecutivoComprobante}}</p>
              <br> 

                <p ng-model="factura_nc.consecutivo"><strong>Estado comprobante:</strong> <strong>{{estado}}</strong></p>
              <br>                    
      </div>
                  <!-- id="consecutivo_nota_credito" -->
      </div>
      <div class="modal-footer">
        <div>
          <center>
            <button id="btnActualizar" type="reset" class="btn btn-primary" data-dismiss="modal" ng-click="cacularDatosNota(ordersElementsModal,1)"> Aplicar Nota</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>