<!DOCTYPE>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div>
          <h4>Nombre del cliente</h4>
          <h5>Koktela Cargo</h5>
        </div>
      </div>
    </div>
    <row>
      <div class="col-md-3">
        <button class="btn btn-sopa sopa-bebida">Reporte de Ventas</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-sopa sopa-otros">Ver Inventario</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-sopa sopa-cliente">Personas</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-sopa">Cierre Diario</button>
      </div>
    </row>
  </div>
</div>